main {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.subscription-pay-page {
    display: flex;
    width: 100%;
    height: 100%;
    background: #FCFAEF;
}

.img {
    width: 50vw;
    height: 100%;
    background-image: url(../assets/images/payForm.jpg);
    background-position: center;
    background-size: cover;
}

.first-box .second-box .card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
} 

.form-title {
    display: flex;
    width: 557px;
    height: 185.941px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
}

.form-title h1 {
    color: #073142;
    text-align: center;
    font-feature-settings: 'subs'on;
    font-family: Bellota Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.first-form,
.card form {
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    justify-items: center;
}

.first-form {
    box-shadow: 0px 2px #073142;
}

.first-form label,
.card label {
    color: var(--DarkBlue, #073142);
    font-family: Bellota Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 228.571% */
}

legend {
    color: #3E8A9B;
    font-family: Bellota Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 457px;
    line-height: 34px;
    /* 228.571% */
    text-align: justify;
}

.card-input-more .input-stardard {
    width: 162px;
    height: 34px;
    flex-shrink: 0;
}

.input-stardard {
    width: 457px;
    height: 34px;
    flex-shrink: 0;
    border: 2px solid var(--BaseGray, #D9D9D9);
    background: var(--BaseWhite, #FCFAEF);
}

.form-name,
.form-email,
.form-tel,
.form-forma,
.form-data,
.card-input {
    display: flex;
    width: 457px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.card-input-more,
.button  {
    display: flex;
    justify-content: space-between;
    width: 457px;
    gap: 0 0.5rem;
}
.button{
    padding: 1rem 3.5rem;
}
.card-input-more .box-one,
.box-two {
    display: flex;
    flex-direction: column;
}

.button .cancel {
    color: var(--DarkBlue, #073142);
    background: var(--BaseWhite, #FCFAEF);
}

.button .form-btn {
    background: var(--PaleRed, #D88A77);
    color: var(--BaseWhite, #FCFAEF);
}

.button button {
    width: 116px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 15px;
    text-align: center;
    font-family: Bellota Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 200% */
}

