main {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.subscription-pay-page {
    display: flex;
    width: 100%;
    height: 100%;
    background: #FCFAEF;
}

.payment-img {
    width: 50%;
    background-image: url(../assets/images/payForm.jpg);
    background-position: center;
    background-size: cover;
}

.first-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-box .second-box .card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
} 

.second-box .card {
    width: 460px;
}

.form-title {
    display: flex;
    width: 100%;
    height: 186px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
}

.form-title h1 {
    color: #073142;
    text-align: center;
    font-feature-settings: 'subs'on;
    font-family: Bellota Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}

.first-form,
.card form {
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    justify-items: center;
}

.first-form {
    box-shadow: 0px 2px #073142;
    width: 460px;
}

.first-form label,
.card label {
    color: var(--DarkBlue, #073142);
    font-family: Bellota Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 228.571% */
}

legend {
    color: #3E8A9B;
    font-family: Bellota Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 457px;
    line-height: 34px;
    /* 228.571% */
    text-align: justify;
}

.card-input-more .input-stardard {
    width: 162px;
    height: 34px;
    flex-shrink: 0;
}

.input-stardard {
    width: 457px;
    height: 34px;
    flex-shrink: 0;
    border: 2px solid var(--BaseGray, #D9D9D9);
    background: var(--BaseWhite, #FCFAEF);
}

.form-name,
.form-email,
.form-tel,
.form-forma,
.form-data,
.card-input {
    display: flex;
    width: 457px;
    height: 66px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.data {
    width: 460px;
}

.card-input-more,

.card-input-more .box-one,
.box-two {
    display: flex;
    flex-direction: column;
}


button{
    width: 116px;
    height: 39px;
    border-radius: 15px;
    font-size: 16px;
    margin: 0 4rem;
 }

.button-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.butype-1{
    border: 1px solid #073142;
    color: #073142;
    background-color: #FCFAEF;
    font-weight: bold;
    
}

.butype-1:hover{
    background-color: white;
}

.butype-2{
    color: #FCFAEF;
    background-color: #D88A77;
    border: none;
}

.butype-2:hover{
    background-color: #df7357;
}

/* Estilizações dinâmicas */
input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  .helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }
  
  .visible {
    display: block;
  }