body{
    background-color: #FCFAEF;
    box-shadow: inset 10px 34px 250px 0px rgba(7,49,66,1);
}

.first-display{
    display: flex;;
    margin: 60px auto 30px;
    background-color: #ffffffa0;
    width: 62vw;
    border-radius: 30px;
    height: 81vh;
    box-shadow: 1px 1px 17px 0px rgba(0,0,0,0.40);
}

.sect-one{
    border-right: 1.5px solid #073142;
    margin: 40px 10px 40px;
    padding: 25px 25px;
    width: 14vw;
}

.relative-image{
    position: relative;
    top: -90px;
    left: -70px;
    width: 1px;
    height: 1px;
}

.image-perfil{
    width: 110px;
    height: 120px;
    border-radius: 30px;
    margin-bottom: 10px;
}

.name-perfil{
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #073142;
    margin-top: 30px;
}

.different-font{
    font-family: 'Bebas Neue', sans-serif;
}

.options-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 7px;
}

.link-a{
    font-family: 'Bebas Neue', sans-serif;
    color: #073142;
    font-size: 18px;
}

.campaign-flex{
    margin-top: 40px;
    padding: 10px;
}

.item-campanha {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.campaign-status{
    font-family: 'Bebas Neue', sans-serif;
    margin: 10px;
}

.campaign-number{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D88A77;
    background-color: #D88A77;
    border-radius: 50px;
    padding: 10px;
    color: #FCFAEF;
    font-size: 18px;
    width: 15px;
    height: 15px;
}

.button-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

button{
    width: 190px;
    height: 45px;
    border: #073142;
    border-radius: 18px;
    background-color: #3E8A9B;
    color: #FCFAEF;
    font-size: 16px;
    margin-bottom: 15px;
}

.sect-two{
    margin: 40px;
    padding: 2px 25px;
}

.element-p{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#element-aprov{
    margin-top: 25px;
    
}

.group-campaign{
    display: flex;
    margin-bottom: 15px;
    height: 110px;
    width: 33vw;
    border: 2px solid #FCFAEF;
    border-radius: 20px;
    background-color: #FCFAEF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.ajust-bloco{
    border-radius: 15px;
    border: 1px solid #D88A77;
    height: 90px;
    width: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13px;
    margin-left: 25px;
    margin-right: 22px;
}

.ajust-image{
    width: 30px;
    margin-bottom: 20px;
}

.size-p{
    font-size: 13px;
}

.ajust{
    margin: 10px 
}