/* Web */

body{
    background-color: #FCFAEF; 
}
.image{
    width: 50vw;
    margin-top: 1px;
}
section{
   display: flex; 
}
.text1{
    text-align: center;
    
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    color: #073142;
    margin-left: 45px;
}
/* .align{
    display: block;
    text-align: left;
} */

/* label{
    display: block;
    text-align: left;
} */
form{
    width: 80%;
    margin-top: 25px;
    font-size: 14px;
}

form > div{
    margin-top: 10px;
}

input{
    height: 34px;
    background-color:  #FCFAEF;
    border: 2px solid #D9D9D9;
    margin-top: 5px;
    margin-bottom: 5px;
}

.input-group{
    width: 100%;
}
.input-group-flex{
    display: flex;
    justify-content: space-between;
}

.input-group-flex div {
    width: 45%;
}

.input-group-flex input{
    width: 100%;
}

.input-group input{
    width: 100%;

}

button{
    width: 116px;
    height: 39px;
    border-radius: 15px;
    font-size: 16px;
}
.button-flex{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.butype-1{
    border: 1px solid #073142;
    color: #073142;
    background-color: #FCFAEF;
    font-weight: bold;
    
}
.butype-2{
    color: #FCFAEF;
    background-color: #D88A77;
    border: none;
}
.select{
    height: 36px;
    background-color:  #FCFAEF;
    border: 2px solid #D9D9D9;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 102%;
}

/* Celulares */

@media (max-width: 450px){
    .pic {
        text-align: center;
    }

    .image{
        width: 90%;
        margin: 20px auto;
    }

    section {
        display: block;
    }

    .right{
        margin: 0px;
        padding: 15px 30px;
        color: #073142;
    }
    .text1{
        font-size: 15px;
    }

    .input-group-flex{
        display: block;
    }

    .input-group-flex div{
        width: 100%;
    }
}

/* ---------- Estilos dinâmicos ---------- */
/* .required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
} */
  
input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
}
  
input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}
  
.visible {
    display: block;
}